body {
  font-family: Helvetica;
}

h1, h2 {
  font-family: 'Vidaloka';
  text-align: center;
}

h1 {
  font-size: 20pt;
  margin-bottom: 0;
}

h2 {
  font-size: 16pt;
}

section.rsvp-form {
  padding: 10px;
}

.rsvp-form form > div.row > input {
  padding: 6px;
  width: 300px;
  line-height: 34px;
  font-size: 18pt;
  width: 50%;
  border: solid 1px #d3d3d3;
  border-right: none;
}

.rsvp-form form > div.row > input:last-child {
  border-right: solid 1px #d3d3d3;
}

.rsvp-form form > div.row {
  margin-bottom: 20px;
}

.rsvp-form form > div.row.events > button,
.rsvp-form form > div.row.dietary > button {
  width: 33.33%;
  padding: 12px;
  text-transform: uppercase;
  background: none;
  border: solid 1px #d3d3d3;
  border-right: none;
  cursor: pointer;
  font-weight: bold;
}

.rsvp-form form > div.row.events > button:last-child,
.rsvp-form form > div.row.dietary > button:last-child {
  border-right: solid 1px #d3d3d3;
}

.rsvp-form form > div.row > button.active {
  background: #e0e0e0;
}

.rsvp-form form > div.row.action > button {
  float: right;
  padding: 12px;
  text-transform: uppercase;
  background: none;
  border: solid 1px #d3d3d3;
  cursor: pointer;
  width: 20%;
  font-weight: bold;
}