body {
  font-family: Helvetica;
  color: #191919;
}

h1, h2, h3 {
  font-family: 'Vidaloka';
  text-align: center;
  color: gray;
}

h1 {
  font-size: 24pt;
  margin-bottom: 0;
}

h2, h3 {
  font-size: 16pt;
}

p {
  background: #fff;
  line-height: 24px;
}

p a {
  color: navy;
  font-weight: bold;
}

body {
  background: url('flower-1.png') no-repeat 20px 140px;
}

div#root {
  background: url('flower-2.png') no-repeat right 140px;
}

section.container div.image-wrapper {
  text-align: center;
}

section.rsvp-form {
  padding: 10px;
}

.rsvp-form form > div.row > input {
  padding: 6px;
  width: 300px;
  line-height: 34px;
  font-size: 16pt;
  width: 33.3%;
  border: solid 1px #d3d3d3;
  border-right: none;
  border-radius: 0;
}

.rsvp-form form > div.row > input[type=number]::-webkit-inner-spin-button,
.rsvp-form form > div.row > input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rsvp-form form > div.row > input:focus {
  outline: none;
}

.rsvp-form form > div.row > input:last-child {
  border-right: solid 1px #d3d3d3;
}

.rsvp-form form > div.row {
  margin-bottom: 20px;
  clear: both;
  padding-top: 2px;
}

.rsvp-form form > div.row.events > button,
.rsvp-form form > div.row.dietary > button {
  width: 33.33%;
  padding: 12px;
  text-transform: uppercase;
  background: none;
  border: solid 1px #d3d3d3;
  border-right: none;
  cursor: pointer;
  font-weight: bold;
  float: left;
  height: 80px;
  background: #fff;
}

.rsvp-form form > div.row.events > button:last-child,
.rsvp-form form > div.row.dietary > button:last-child {
  border-right: solid 1px #d3d3d3;
}

.rsvp-form form > div.row > button.active {
  background: #FFE9C6;
}

.rsvp-form form > div.row.action {
  padding-top: 18px;
}

.rsvp-form form > div.row.action > button {
  float: right;
  padding: 12px;
  text-transform: uppercase;
  background: none;
  border: solid 1px #d3d3d3;
  cursor: pointer;
  width: 20%;
  font-weight: bold;
}

section.container {
  width: 70%;
  margin-left: 15%;
  min-height: 700px;
  min-width: 540px;
}

@media (max-width: 900px) {
  section.container {
    width: 100%;
    margin-left: 0;
    min-height: auto;
  }

  body, div#root {
    background: none;
  }

  section.container div.image-wrapper > img {
    width: 100%;
  }
}
